<div>
  <table style="margin: auto; padding: 10px; text-align: center; width: 80%;">
      <tr>
          <td >Username</td>
          <td>Email</td>
          <td>First Name</td>
          <td>Last Name</td>
      </tr>
      <tr>
          <td>{{ user.username | uppercase}}</td>
          <td>{{ user.email | uppercase}}</td>
          <td>{{ user.firstName | uppercase}}</td>
          <td>{{ user.lastName | uppercase}}</td>
      </tr>
  </table>
</div>

<div>
  <button mat-raised-button color="primary" routerLink="/portal">Back To Portal</button>  
</div>
